@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$azul_principal: #0B2E62;
$naranja_acento: #D84B16;
$blanco: #FFFFFF;
$gris_claro: #F5F5F5;
$gris_medio: #E0E0E0;
$azul_claro: #3A5B8C;

// Colores de Estado
$verde_exito: #5CB85C;
$rojo_alerta: #D9534F;
$amarillo_advertencia: #F0AD4E;
$azul_informacion: #5BC0DE;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900